<h1>Angular Router App</h1>
<nav>
  <ul>
    <li><a href="country/list/1" >First Component</a></li>
    <li><a routerLink="/Introduction" >First Component</a></li>
    <li><a routerLink="/Getting started" >Second Component</a></li>
    <li><a routerLink="/Understanding Angular" >3th Component</a></li>
    <li><a routerLink="/Developer guides" >4th Component</a></li>
    <li><a routerLink="/Best practies" >5th Component</a></li>
  </ul>
 
</nav>
<div>
  <router-outlet></router-outlet>
</div>
<!-- The routed views render in the <router-outlet>-->